############################
# 本地历史 / 编辑器缓存
############################
.history/
.vscode/
.idea/
*.swp
*.swo
*.tmp

############################
# Python / ML 生成文件
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd

############################
# 模型文件（大文件，不提交）
############################
*.joblib



############################
# 编译 / 构建产物
############################
build/
dist/
*.o
*.obj
*.exe
*.dll
*.so

############################
# 操作系统文件
############################
.DS_Store
Thumbs.db

############################
# 大文件兜底（>100MB 通常不该进 Git）
############################
*.zip
*.tar
*.tar.gz
*.7z
*.rar
